<div class="header-banner">
    <video class="banner-video" autoplay muted loop playsinline>
        <source src="assets/videos/architects2.mp4" type="video/mp4">
    </video>


    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <button class="navbar-toggler custom-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbar"
                    aria-controls="navbar"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <mat-icon class="toggler-icon">menu</mat-icon>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link"
                           routerLink="/start"
                           fragment="about"
                           data-bs-toggle="collapse"
                           data-bs-target=".navbar-collapse">
                            {{ 'header.about'|translate }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           routerLink="/start"
                           fragment="services"
                           data-bs-toggle="collapse"
                           data-bs-target=".navbar-collapse">
                            {{ 'header.services'|translate }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           routerLink="/start"
                           fragment="projects"
                           data-bs-toggle="collapse"
                           data-bs-target=".navbar-collapse">
                            {{ 'header.projects'|translate }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link contactLink"
                           routerLink="/start"
                           fragment="contact"
                           data-bs-toggle="collapse"
                           data-bs-target=".navbar-collapse">
                            {{ 'header.contact'|translate }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
